<main>
   <section class="items-container">
        <header class="header-title">
            <h1><span class="circle-left"></span>Minha Experiência</h1>
        </header>
        <span class="line-left"></span>

        <section class="experience">
            <h2><span class="circle-left"></span>Trainee em Desenvolvimento de Software na Simeon</h2>
            <div class="work-time">10/04/2024 -  Atual <span class="work-time">Híbrido</span></div>

            <p>
                A Simeon é uma empresa de tecnologia fundada em 2002, desenvolvedora do software EPA (Estratégia para Ação), um sistema completo de gestão da qualidade para empresas, com foco em hospitais e organizações da área da saúde. O software é uma solução web construída com Laravel e PHP, oferecendo uma abordagem integrada para otimizar a gestão de qualidade nessas instituições.
            </p>

            <p>
                Na Simeon, atuo como trainee em desenvolvimento de software, e atualmente estou refatorando a base de conhecimento do sistema implementando Angular. Também atuo no desenvolvimento de protótipos de melhorias e novas funcionalidades usando Figma.
            </p>


            <div class="technologies">
                <h3>Tecnologias</h3>
                <div>
                    <img src="../../../../assets/Laravel.svg" alt="">
                    <img src="../../../../assets/PHP.svg" alt="" >
                    <img src="../../../../assets/JavaScript.svg" alt="" >
                    <img src="../../../../assets/Angular.svg" alt="" >
                    <img src="../../../../assets/Figma.svg" alt="" >
                </div>
            </div>
        </section>

        <section class="experience">
            <h2><span class="circle-left"></span>Desenvolvedor Web na Level5</h2>
            <div class="work-time">10/04/2024 -  Atual <span class="work-time">Remoto</span></div>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Curabitur pretium tincidunt lacus.
            </p>
        </section>
   </section>
</main>
