main {
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color-primary);
    display: flex;
    padding: 50px;
    padding-top: 80px;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.form-contact {
    
    width: 500px;
    height: 450px;
    position: relative;
    
}

.box-form {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 500px;
    height: 480px;
    background-color: var(--box-color-blue);
    z-index: 2;
}

.box-form::after {
    content: '';
    position: absolute;
    width: 480px;
    height: 460px;
    background-color: var(--bg-color-primary);
    left: 10px;
    top: 10px;
}

.container-form {
    margin-left: 20px;
    margin-top: -20px;
    width: 480px;
    height: 480px;
    background-color: var(--bg-color-secundary);
    z-index: 3;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #242424;

    form {
        width: 100%;
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;

        input, textarea {
            width: 80%;
            background-color: transparent;
            border: none;
            border-bottom: 3px solid var(--line-color-primary);
            margin: 0 auto;
            padding: 5px 10px;
        }
        
        textarea {
            height: 150px;
            min-height: 150px;
            max-width: 80%;
            min-width: 80%;
            border: 3px solid var(--line-color-primary);
        }

        button {
            width: 100px;
            padding: 7px 15px;
            margin: 0 auto;
            background-color: var(--bg-color-primary);
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
            border: none;
            border: 2px solid #242424;
        }

        button:hover {
            background-color: var(--box-color-blue);
            color: black;
            border: 2px solid transparent;
        }
    }
}


.text-contact {
    width: clamp(350px, 40vw, 800px);
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;

    h1 {
        font-size: clamp(2rem, 4.15vw, 70px);
        padding: 20px 0;
    }

    h2 {
        color: rgb(88, 88, 255);
        font-size: clamp(1.2rem, 3.15vw, 50px);
    }

    p {
        font-size: clamp(1rem, 1.5vw, 30px);
        padding: 10px 0;
        text-align: justify;
    }

    .box-social {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        flex-wrap: wrap;

        span {
            cursor: pointer;

            img {
                width: 45px;
            }
        }
    }

    z-index: 1;
}

@media screen and (max-width: 900px) {
    .form-contact {
        width: 400px;
        height: 550px;
    }
    
    .box-form {
        width: 400px;
    }
    
    .box-form::after {
        width: 380px;
    }
    
    .container-form {
        width: 380px;
    }  
    
}


@media screen and (max-width: 700px) {
    main {
        flex-direction: column-reverse;
        height: fit-content;
        gap: 50px;
    }


    .text-contact {
        width: 100%;
    }


    .form-contact {
        width: calc(100% + 100px);
    }
    
    .box-form {
        width: 90%;
        top: 30px;
        left: 5px;
    }
    
    .box-form::after {
        width: calc(90% + 10px);
    }
    
    .container-form {
        width: 90%;
        margin-left: 25px;
        margin-top: 9px;
    }  
}

@media screen and (min-width: 2600px) {
    main {
        justify-content: center;
        gap: 500px;
    }


    .text-contact {
        
    }


    .form-contact {
       width: 1000px;
       height: 1000px;
    }
    
    .box-form {
        width: 1000px;
        height: 1000px;
    }
    
    .box-form::after {
        width: 980px;
       height: 980px;
    }
    
    .container-form {
        width: 1000px;
        height: 1000px;

        form {
            gap: 80px;

            input, 
            textarea {
                font-size: 30px;
            }

            textarea {
                height: 300px;
                max-height: 300px;
            }

            button {
                font-size: 30px;
                width: 300px;
                height: 60px;
            }
        }
        
    }

   
}
