<main>
    <section class="box-left">
        <h1>Olá,</h1>
        <h1>Eu sou <span>César Caus</span></h1>
        <h2>Desenvolvedor Front End</h2>

        <div class="box-social">
            <span><img src="../../../../assets/Whatsapp.png" alt="whatsapp icon" /></span>
            <span><img src="../../../../assets/Instagram.png" alt="Instagram icon" /></span>
            <span><img src="../../../../assets/Github.png" alt="GitHub icon" /></span>
            <span><img src="../../../../assets/Linkedin.png" alt="Linkedin icon" /></span>
        </div>
    </section>
    <section class="box-right">
        <span></span>
        <img src="../../../../assets/Transhumans Chilly.svg" width="350px"/>
    </section>
</main>
