<main>
    <section class="box-left">
        <h1>Olá,</h1>
        <h1>Eu sou <span>César Caus</span></h1>
        <h2>Desenvolvedor Web</h2>

        <div class="box-social">
            <a href="https://wa.me/5562986430569?text=Ol%C3%A1%2C%20gostaria%20de%20entrar%20em%20contato...
            " target="_blank"><span><img src="assets/Whatsapp.png" alt="whatsapp icon" /></span></a>
            <a href="https://www.instagram.com/cesarcausp/" target="_blank"><span><img src="assets/Instagram.png" alt="Instagram icon" /></span></a>
            <a href="https://github.com/cesarcaus" target="_blank"><span><img src="assets/Github.png" alt="GitHub icon" /></span></a>
            <a href="https://br.linkedin.com/in/cesarcaus" target="_blank"> <span><img src="assets/Linkedin.png" alt="Linkedin icon" /></span></a>
        </div>
    </section>
    <section class="box-right">
        <span></span>
        <img src="assets/Transhumans Chilly.svg" width="350px"/>
    </section>
</main>
