<main>
    <section class="about">
        <h1>Sobre Mim</h1>
        <p>Tenho 22 anos e sou estudante de Sistemas de Informação na Universidade Federal de Goiás. Minha paixão pela tecnologia e informática me levou a direcionar minha carreira para o Desenvolvimento Front End.</p>
        <p>Nos últimos dois anos, tenho atuado de forma independente no desenvolvimento web, aprimorando continuamente minhas habilidades com ferramentas essenciais e amplamente utilizadas no mercado. Estou comprometido em oferecer soluções de alta qualidade e inovadoras, tanto na área de desenvolvimento quanto na prototipagem de interfaces.</p>
    </section>

    <section class="technologies">
        <div class="line">
            <img src="../../../../assets/Angular.png"  alt="Html Icon"/>
            <img src="../../../../assets/React Icon.svg"  alt="CSS Icon"/>
            <img src="../../../../assets/TypeScript.png"  alt="JavaScript Icon"/>
            <img src="../../../../assets/SCSS.png"  alt="TypeScript Icon"/>
        </div>
        <div class="line">
            <img src="../../../../assets/Figma Icon.svg"  alt=""/>
            <img src="../../../../assets/MySQL Logo.svg"  alt=""/>
            <img src="../../../../assets/PostgreSQL.svg"  alt=""/>
        </div>
        <div class="line">
            <img src="../../../../assets/Laravel Icon.svg"  alt=""/>
            <img src="../../../../assets/PHP Logo.svg"  alt=""/>
            <img src="../../../../assets/Spring Boot.svg"  alt=""/>
            <img src="../../../../assets/Java.png"  alt=""/>

        </div>


    </section>
</main>