<main>
    <section class="about">
        <h1>Sobre mim</h1>
        <p>Tenho 22 anos e sou estudante de Sistemas de Informação na Universidade Federal de Goiás.</p>
        <p style="text-indent: 100px;">Desde sempre fui fascinado pelo universo da tecnologia e informática, então, há 2 anos, resolvi me dedicar ao Desenvolvimento Front-End, atuando de forma independente no ramo do Desenvolvimento Web e aprimorando minhas habilidades a cada dia com as ferramentas mais utilizadas atualmente.</p>
    </section>
    <section class="technologies">

    </section>
</main>
