

.header-main {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 50px;
    width: 100%;
    height: fit-content;
    min-height: 80px;
    position: fixed;
    z-index: 10;
    background-color: var(--bg-color-primary);

    nav {
        position: relative;
    
        ul {
            display: flex;
            gap: 3.85vw;
        
            li {
                list-style: none;
                cursor: pointer;
                padding: 10px 20px;
                border-radius: 20px;
                font-family: 'Jura', sans-serif;
                font-size: clamp(16px, 1.4vw, 25px);
            }
        
            li:hover {
                background-color: var(--bg-color-primary-hover);
            }
        }
    }
    
}


.menu {
    display: none;
    position: absolute;
}

#toggle-theme {
   width: 45px;
   height: 25px;
   background-color: var(--line-color-primary);
   position: absolute;
   left: 20px;
   border-radius: 50px;
   top: calc(50% - 12px);
   cursor: pointer;
}

.toggle-theme-dark {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--bg-color-primary);
    border-radius: 50%;
    top: 2.5px;
    left: 2.5px;
}

.toggle-theme-light {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--bg-color-primary);
    border-radius: 50%;
    top: 2.5px;
    right: 2.5px;
}

main {
    background: var(--bg-color-primary);
}

@media screen and (max-width: 764px) {
    .header-main {
        justify-content: center;
        padding: 0;
        height: 60px;

        .menu {
            display: flex;;
            font-size: 40px;
            right: 20px;
        }

        nav {
            width: 100%;
            display: flex;

            ul {
                position: absolute;
                flex-direction: column;
                background-color: var(--bg-color-primary);
                width: 100%;
                gap: 0;
                top: 20px;
                display: none;
                box-shadow: 0 10px 10px #0000004a;

                li {
                    border-radius: 0;
                    text-align: center;
                    padding: 20px;
                    font-weight: 400;
                }
            }

            .menu-open {
                display: flex;
            }
        }
    }
}
