<header class="header-main">
    <span id="toggle-theme" (click)="toggleTheme()">
        <span [ngClass]="{'toggle-theme-dark': darkTheme, 'toggle-theme-light': !darkTheme}"></span>
    </span>
    <nav>
        <ul [ngClass]="{'menu-open' : menuValue}">
            <li (click)="scrollToComponent('about')">Sobre</li>
            <li (click)="scrollToComponent('elements')">Elementos</li>
            <li (click)="scrollToComponent('projects')">Projetos</li>
            <li (click)="scrollToComponent('contact')">Contato</li>
        </ul>
    </nav>
    <span (click)="openMenuSup()" class="material-symbols-outlined menu">{{ iconMenu }}</span>
</header>
<main>
    <app-home id="home"></app-home>
    <app-about id="about"></app-about>
    <app-elements id="elements"></app-elements>
    <app-projects id="projects"></app-projects>
    <app-contact id="contact"></app-contact>
</main>