<main>
    <header>
        <span class="title-interface"><h1>Interfaces</h1></span>
        <nav>
            <span (click)="openMenu()" class="material-symbols-outlined menu">menu</span>
            <ul>
                <li>Login/Cadastro</li>
                <li>Catalogos</li>
                <li>Dashboards</li>
                <li>Blogs</li>
                <li>Formulários</li>
            </ul>
            <span class="material-symbols-outlined arrow-right">
                arrow_forward_ios
                </span>
        </nav>
    </header>
    <section class="container-main">
        <nav [ngClass]="{'menu-open': valueMenu}">
            <ul>
                <li>Interface-01</li>
                <li>Interface-01</li>
                <li>Interface-01</li>
            </ul>
        </nav>
        <div class="container-content"></div>
    </section>
</main>
