:root {
    --bg-color-primary: #242424;
    --bg-color-primary-hover: #303030;
    --bg-color-secundary: black;
    --font-color-primary: white;
    --font-color-secundary: rgb(0, 0, 0);
    --box-color-blue: #7977F6;
    --line-color-primary: rgb(111, 111, 111);
    --color-track-scrollbar: #777777;
    --tech-bg-color: #303030;
  }
