<main>
    <h1>Projetos</h1>

    <section class="projects-container">
       <a href="https://github.com/CesarCaus/Projeto-Frontend-Omnisaude"  target="_blank">
        <div class="project">
            <h2>Projeto-FrontEnd-Omnisaude</h2>
            <p>Projeto feito para o processo seletivo de estágio da empresa Omnisaúde.</p>
            <div class="tools">
                <span>HTML</span>
                <span>CSS</span>
                <span>JS</span>
            </div>
        </div> 
       </a>
       <a href="https://github.com/CesarCaus/Projeto-FrontEnd-Ciclic"  target="_blank">
        <div class="project">
            <h2>Projeto-FrontEnd-Ciclic</h2>
            <p>Projeto desenvolvido para estudo tendo como base o projeto para vaga de desenvolvedor Front-End da empresa Ciclic.</p>
            <div class="tools">
                <span>HTML</span>
                <span>CSS</span>
                <span>JS</span>
            </div>
        </div> 
       </a>
       <a href="https://github.com/CesarCaus/App-Mobile-UniUsados"  target="_blank">
        <div class="project">
            <h2>App-Mobile-UniUsados</h2>
            <p>Projeto desenvolvido como trabalho final da matéria Engenharia de Software.</p>
            <div class="tools">
                <span>HTML</span>
                <span>SCSS</span>
                <span>TS</span>
            </div>
            <span class="icon"><img src="assets/Angular.png" alt=""></span>
        </div> 
       </a>
       <a href="https://github.com/CesarCaus/Funcoes-Lista-DuplamenteEncadeada" target="_blank">
        <div class="project">
            <h2>Funções-Lista-DuplamenteEncadeada</h2>
            <p>Biblioteca desenvolvida para auxiliar nos exercícios na matéria de Algoritmo e Estrutura de Dados I</p>
            <div class="tools">
                <span>C</span>
            </div>
        </div>
       </a>
       <a href="https://github.com/CesarCaus/Interfaces-de-Login-e-Cadastro"  target="_blank">
        <div class="project">
            <h2>Interfaces-de-Login-e-Cadastro</h2>
            <p>Este repositório contém interfaces de login e cadastro criadas para fins de estudos.</p>
            <div class="tools">
                <span>HTML</span>
                <span>CSS</span>
                <span>JS</span>
            </div>
        </div> 
       </a>
       <a href="https://github.com/CesarCaus/Minigames"  target="_blank">
        <div class="project">
            <h2>Minigames</h2>
            <p>Projetos de minigames criados para estudos pessoais.</p>
            <div class="tools">
                <span>HTML</span>
                <span>CSS</span>
                <span>JS</span>
            </div>
        </div> 
       </a>
       
       
    </section>
</main>