main {
    width: 100%;
    min-height: fit-content;
    background-color: var(--bg-color-secundary);
    padding-top: 100px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 150px;

    h1 {
        font-size: clamp(50px, 6.2vw, 60px);
        color: var(--box-color-blue);
        margin-top: -20px;
    }

    .projects-container {
        width: 75vw;
        max-width: 1500px;
        height: fit-content;
        min-height: fit-content;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
        gap: 20px;

        a {
            text-decoration: none;
        }

        .project {
           height: 220px;
           border-radius: 10px;
           padding: 20px;
           position: relative;
           background-color: var(--bg-color-primary);
           display: flex;
           flex-direction: column;
           justify-content: center;
           gap: 15px;
           box-shadow: 0 15px 45px rgba(0, 0, 0, 0.1);

           h2 {
            font-size: 20px;
            font-family: 'Poppins', sans-serif;
            position: absolute;
            top: 15px;
           }

           p {
            font-size: 16px;
            font-family: 'Poppins', sans-serif;
           }

           .tools {
            display: flex;
            gap: 20px;
            position: absolute;
            bottom: 15px;

                span {
                    width: 70px;
                    min-width: fit-content;
                    text-align: center;
                    padding: 10px;
                    font-size: 14px;
                    letter-spacing: 1px;
                    border-radius: 5px;
                    background-color: var(--box-color-blue);
                    color: var(--font-color-secundary);
                    font-weight: 600;
                    font-family: 'Poppins', sans-serif;
                }

           }

           .icon {
            position: absolute;
            bottom: 15px;
            right: 15px;

            img {
                width: 30px;
            }

           }
        }

        .project:hover {
            background-color: var(--bg-color-primary-hover);
        }

    }
}



@media screen and (max-width:1224px) {
    main {

        height: fit-content;

        .projects-container {
            width: 90%;
        }
    }
}

@media screen and (max-width:1000px) {
    main {

        .projects-container {

            .project {
                .icon {
                    top: 15px;
                }
            }
        }
    }
}

@media screen and (max-width:800px) {
    main {

        .projects-container {
            grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));


            .project {
                height: 250px;
            }

        }
    }
}


@media screen and (max-width:345px) {
    main {

        .projects-container {

            .project {

                padding: 10px;

                h2 {
                    font-size: 17px;
                }

                p {
                    font-size: 15px;
                }

                .tools {

                    gap: 15px;
                }

                .icon {
                    top: 10px;
                }

            }

        }
    }
}

@media screen and (min-width:2000px) {
    main {
        height: fit-content;
        min-height: fit-content;

        .projects-container {
            gap: 50px;
            height: fit-content;

           .project {
            height: 250px;
           }
        }
    }
}
